
.productde-img{
    max-width: 90%;
}
.productbox-line-r{
    border-right: solid black 1px;
}

.productbox-line-l{
    border-left: solid black 1px;
}

.price{
    font-weight: 700;
}
.product-amount{
    max-width: 50%;
    text-align: center;
}
.selectbox-left {
    position: sticky;
    top: 5rem;
    height: 80vh;
    width: 10rem;
    padding-right: 20px;
    margin-bottom: 1.5rem;}

.selectbox-left button{
    margin-bottom: 1rem;
    width: 9rem;
    padding: 0.6rem 0.8rem;
}

.minus,.plus{
min-width: 10%;
}

.g-line-input{
    color: rgba(37, 133, 139, 1);
    border: 2px solid rgba(37, 133, 139, 1);
    border-radius: 6px;
    padding: 0.4rem 0.8rem;
    background-color: rgba(255, 248, 240, 0);
}

.cart-btn{
    padding: calc(0.4rem + 2px) 0.8rem;
    border-radius: 6px;
    background: linear-gradient(90deg, #FEA43F 0%, #E88178 116.18%);
    color: #fff;
    text-align: center;
    border: none;
}


.cart-btn:hover {
    background: linear-gradient(90deg, #40D2B8 0%, #3C7CC8 108.09%);
}
.prodctde-box{
    position: relative;
    text-align: center;
}

.input-text{
    min-width: 100%;
}
.product-discrip {
    white-space: pre-line;
  }

  .productinfo-like{
    position: relative;
    display: inline-block;
  }

  /* 按鈕改下拉式選單 */
  .selectbox .g-line-btn,.searchbox {
    color: rgba(37, 133, 139, 1);
    border: 2px solid rgba(37, 133, 139, 1);
    border-radius: 6px;
    padding: 0.4rem 0.8rem;
    background-color: rgba(255, 248, 240, 0);  
}
.selectbox .g-line-btn:hover {
    color: #fff;
    background: linear-gradient(90deg, #40D2B8 0%, #3C7CC8 108.09%);
    ;
    transition: .6s;
}

.price-btn{
    border: none;
    background: none;
    padding: 0.4rem 0.8rem;
    color: #838383;
}
.price-btn:hover {
    color: #40D2B8 ;
}
.selectbox .j-deep{
    color: #F58807;
  }
.pagebutton{
    color: #fff;
    background: linear-gradient(90deg, #40D2B8 0%, #3C7CC8 108.09%);

}

@media screen and (min-width: 1200px) {
    .prodctde-r{
        flex-grow: 1;
        border-left: 2px solid #25858B;
        height: 100%;
    }
    .box {
        height: auto;
        width: 100%;
        position: relative;
        overflow: visible; /* 設定為可視範圍外 */
        min-height: 55vh;
      }
      
      .inner-box {
        position: relative;
        width: 100%; /* 或是 calc(100% + 50px) */
        /* height: 100px; */
      }
      .product-discrip{
        max-width: 100%;
    }
}
/* 手機和平板 */
@media (max-width: 1200px) {



            .productdetail .mycard-title p{

                font-size: 1rem;
            }
            .productdetail .mycard-title h2{

                font-size: 1.5rem;
            }
}
/* 平板 */
@media (min-width: 768px) and (max-width: 1200px){
    
    .productdetail .mycard-title{
        padding: 0 0 4rem;
                    }
                    .productdetail .mycard-title p{
                        padding-top: 0.4rem;
                        font-size: 1.2rem;
                                    }
    .productdetail .like-btn{
        font-size: 3rem;
            }
    .productdetail .mycard:hover .mycard-title{
        transform: translate3d(0%, -87px, 100px);
    }
    .productdetail .mycard:hover .character{
        transform: translate3d(0%, -45%, 100px);
    }
    .productdetail .mycard:hover .icon-button{
        transform: translate3d(0%, -90px, 100px);
        font-size: 4rem;
        transform: translate3d(0%, -40%, 100px);
    }
}




/* 手機板 */
@media (max-width: 768px) {
    
    .productdetail .mycard-title{
        padding: 0 0 3rem;
                    }
                    
    .productdetail .like-btn{
        font-size: 2.5rem;
            }
    .prodctde-content{
        text-align: start;
    }
.productdetail .mycard-title{

}

    /* 按鈕改下拉式選單 */
    .select-bg{
        z-index: 1;
        background-color: rgba(255, 248, 240, 1);
        height: 8vh;
        position: absolute;
        width: 100%;
    }
    .selectbox-left{
        height: auto;
        width: 100%;
        z-index: 2;
    /* background-color: rgba(255, 248, 240, 1); */
padding-right: 0%;
    }
    .select-row{
        width: 100%;
        display: flex;
        height: 2rem;
        position: relative;
    margin-bottom: 1rem;
    justify-content: space-between;
    }
    .select-col{
        width: calc(50% - 3px);
        height: 100%;
        display: inline-block;
        position: relative;
    }

    .selectbox{
        border: 2px solid #40D2B8;
        border-radius: 6px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(10px);
        z-index: 1;
    }
    .select-title{
        position: absolute;
        width: 100%;
        border: 2px solid rgba(255, 166, 62, 1);
    }
    .select-item{
        position: absolute;
        width: 100%;
        top: calc(100% + 1rem);
        box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
        z-index: 3;
    }
    .selectbox button{
        margin-bottom: 0rem;
        width: 100%;
        padding: 0.4rem 0.8rem;
    }
    .selectbox .g-line-btn, .price-btn{
        color: #222222;    border: none;   
        width: 100%;
    border-radius: 0px;
    padding: 0.4rem 0.8rem;
    background-color: rgba(255, 248, 240, 0);
    }
    .selectbox .g-line-btn:hover, .price-btn:hover {
        background: none;
        color: #838383;  
        transition: none;
    }
    .selectbox .j-deep{
        color: #F58807;
      }

}