.cartbox{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
    width: 200px;
    height: 200px;
    left: 60%;
    bottom: 50%;
    opacity: 0.8;
    animation: cartanima 2s ease-in-out infinite;
}

@keyframes cartanima {
    0% {
    width: 200px;
    height: 200px;
    left: 60%;
    bottom: 50%;
    opacity: 0.8;
    }
    90% {

    opacity: 0.4;
    }
    100% {
        width: 100px;
        height: 100px;
        left: 90%;
        bottom: 90%;
        opacity: 0;
    }
}