 
/* notes */
.purchase{
    height:auto;
    background-color: rgba(245, 136, 7, 0.1);
    padding-top:30px; 
  
}
.purchase li {
    line-height: 4rem;
}

/* 課程說明背景 */

.class-bg{
    background-color: rgba(245, 136, 7, 0.1);
    height: 100%;
    
}
/* 課程特色背景 */

.classtext{
  letter-spacing: 0.8em;
  text-align:justify
}
.classimg{
  -webkit-filter: drop-shadow(10px 10px 5px #f58a074b);
}

  /* 手機 */

  @media only screen and (max-width: 767px) {
    .container {
      max-width: 100%;
      padding: 0 10px;
    }
  }
  @media (max-width: 768px) {
    .dropdown {
      display: flex;
      flex-direction: column;
      padding: auto;
     
    }
  
    .dropdown-toggle {
      width: 120px;
    }
  
    .dropdown-menu {
      width: 100%;
    }
  }
