.tr-fs {
    font-family: Noto Serif TC;
    font-size: 18px;
    font-weight: 700;
    }


.medal-phone i{
    font-size: 125px;
    }
.medal i{
    font-size: 200px;
    }
.selectOutlook{ 
    width: 100%;
    padding: 0.4rem 0.8rem;
    border: 2px solid rgba(255, 166, 62, 1);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    font-family: Noto Serif TC;
    font-size: 18px;
    font-weight: 700;
    color: #838383;
    }


.selectOutlook:focus {
    border: 2px solid rgba(64, 210, 184, 1);
    outline: none;
    }

.select-bg{
    background: #ffffff00;
    }
.o-no-btn {
        padding: 0.4rem 5rem;
        border: 0;
        border-radius: 6px;
        background: gainsboro;
        color: #fff;
        text-align: center;
    }

.member-photo img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;


   }
.member-phone-photo img{
    width: 35%;
    aspect-ratio: 1/1;
    border-radius: 50%;


    }
.input-style {
    padding: 0.4rem 0.8rem;
    border: 2px solid rgba(255, 166, 62, 1);
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #838383;
    font-weight: 700;
    }
.like-dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgba(255, 166, 62, 1);
    padding: 0.4rem 0.8rem;
    }
.tdstyle img{
    width:100px;
    aspect-ratio: 1/1;
    }
.pic-phone-mylove img{
    width:100px;
    aspect-ratio: 1/1;
    }
.icon-phone-mylove i {
    transition: .3s;
    font-size: 22px;
    }
.icon-phone-mylove i:hover {
    color: #25858B;
    }
.productImg{
     width: 100%;
    aspect-ratio: 1/1;
    }
.pic-phone img{
    width:50vw;
    }
.btn-phone{
    width: 40vw;
    font-size: larger;
    }
.mainPage{
    width: 100vw;
    height: 100vh;
    }
        
.logo{ 
    width: 20vw;
    }
.enterLogo{
    max-width: 100%;
    /* position: absolute; */
    left: 25%;
    bottom: 0%;
    }
.labelinput{
    background-color: rgba(245, 250, 250, 0.751);
    color:darkslategrey;
    font-family: Noto Serif TC;
    font-weight: 500;
    border:0cm;
    }
.translate-bg-btn{
    background-color: rgba(245, 250, 250, 0.51);
    color: #25858B;
    }

.translate-bg-btn:hover{
    background-color: #25848bcb;
    color:white;
    }
.translate-btn{
        background-color: rgba(245, 250, 250, 0);
        color: #25858B;
        padding: 0.5rem 0.8rem;
        }
    
.translate-btn:hover{
        background-color: #25848bcb;
        color:white;
        }

.logininput{
    background: linear-gradient(90deg, #ffffffb4 0%, #ffffff6a 100%);
    }
.forgetpasswd{
    text-decoration: none;
    color: white;
    letter-spacing :0.25rem;
    }
.forgetpasswd:hover{
    color: #25848bcb;     
    }

.registertext{
    letter-spacing : 1rem ;
    color: azure;
    font-size: 1.4rem;
    }

.registerlink{
    text-decoration: none;
    color: #25848bcb;
    font-weight:bold;
    }
.registerlink:hover{
    color: white;
    }
.text-end{
    margin-left: 1rem;
    }

.width-lg{
    width: 30%;
    }
.newpasswordinput{
    background-color: rgba(245, 250, 250, 0.519);
    }

.newPasswordTopic{
    color: white;
    letter-spacing : 1rem ;
    font-size: 2.5rem;
    }
.registerinput{
    background-color: rgba(245, 250, 250, 0.519);
    }
.registerTopic{
    color: white;
    letter-spacing : 1rem ;
    font-size: 2.5rem;
    }
.Gmailregister{
    letter-spacing : 0.2rem ;
    font-weight: bold;
    }
.showpsd:hover{
    background-color: #25848bcb;
    color:white;
    }
.verifyinput{
    background-color: rgba(245, 250, 250, 0.519);
    }

.mailsendeer{
    background-color: #50a1a78d;
    color: white;
    }
.mailsendeer:hover{
    background-color: #25848bcb;
    color:white;
    }
.noticetext{
    font-size: 10px;
    letter-spacing : 0.1rem ;
    color: white;
    }
.verifyTopic{
    color: white;
    letter-spacing : 1rem ;
    font-size: 2.5rem;
    }
.active-page{
        color: #fff;
        background: linear-gradient(90deg, #40D2B8 0%, #3C7CC8 108.09%);
        ;
        transition: .6s;
        
    }
    .disabledbtn{
        color: #838383;
        border: 2px solid #838383;
        border-radius: 6px;
        padding: 0.4rem 0.8rem;
        background-color: rgba(255, 248, 240, 0);
    }
.w-80{width: 80%;}
.barpic{ width: 100%;
    height: 200px;
    object-fit: contain;}
.memsticky{position: sticky; top: 6rem;}

@media screen and (max-width: 768px) {
    .member-photo img{
    width: 40%;
    aspect-ratio: 1/1;
    border-radius: 50%;

    }
    .border-start{
    border:0;
     }
    }
    

@media(max-width: 992px){

    .width-lg-phone{
    width: 75%;
    }     
    .forgetsercet-phone{
         text-align: end;
        font-size:smaller;

        }
    .registertext-phone{
        font-size:larger;
        letter-spacing : 1.6rem ;
        }
    .logo{ 
        width: 40vw;
    }
    .input-group-label-phone{
        background-color:rgba(255, 255, 255, 0.81);
        font-size:large;
        font-weight:550;
        color: #25848bcb;
        letter-spacing : 0.2rem ;
        border-radius:10px 0;
        margin-bottom: 2px;
    }
    .input-group-phone{
        border-radius:0 0 10px 0;

    }
    .newPasswordTopic-phone{
        font-size: 2rem;
        letter-spacing : 0.4rem ;


    }
    .registerTopic-phone{
        font-size: 2rem;
        letter-spacing : 0.4rem ;
    }
    .verifyTopic-phone{
        font-size: 2rem;
        letter-spacing : 0.4rem ;
    }
  }
/* 載入指示動畫 */
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgba(255, 166, 62, 1);
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
    