.check-box{
    width: 90px;
    height: 90px;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin:10px;
    
}

.mission-font{
    width: 100%;
    height: 100%;
    color: #E1E1E1;
    text-align: center;
    font-size: 1rem;
    margin: 0;
    line-height: 90px;
}



.mission-font i{
    width: 100%;
    height: 100%;
    font-size: 3rem;
    line-height: 90px;
    color:#ffffff
}

.check-box.ischeck{
    background: linear-gradient(90deg, #FFA63E 0%, #E77E7E 100%);
}

