.turntable-wrap {
    min-width: 300px;
    min-height: 300px;
    overflow: hidden;
    border-radius: 50%; 
    width: 100%;
    position: relative;
}
.turntable-pointer{
    position: absolute;
    left: 37.6%;
    top: 30%;
    cursor:pointer; 
}
.cup{
    justify-content: center;
    align-items: end;
    margin-bottom: 0;
}
.cup2{
    justify-content: center;
    align-items:start ;
    margin-bottom: 0;
}
.tablewidth{
    min-width: 200px;
    max-width: 600px;
}
table tr{
    font-size:1rem
}
@media screen and (min-width: 768px){
    table tr{
        font-size:1.1rem
    }
}